<nav id="user-board">
    <div class="profile">
        <h3 class="icon">{{signer.icon}}</h3>
    </div>
    <h4>{{signer.first_name}} {{signer.last_name}}</h4>
    <a href="/profile/edit" class="button">update profile</a>
    <a href="/logout" class="button outline">logout</a>
</nav>