<nav class="navigation">
    <a id="logo" href="/"><p>MHFB</p></a>
    {{! <a href="/"><h5>MHFB!</h5></a> }}
    <div class="nav-links">
        <a href="/signers"><p>Signers</p></a>
        <a href="/profile/edit"><p>Profile</p></a>
        <a class="logout" href="/logout"><img
                src="/images/logout.png"
                alt=""
            /><p>Logout</p></a>
    </div>
</nav>