<h1>More holidays for Berlin! ☃︎</h1>
<div class="intro">
    <h2>Holidays are the greek wine of society, which is why we need your help
        to bring them in big time!</h2>
</div>
<button>Start supporting us now</button>
<button>I've already signed up</button>