<div class="title login">
    <h2>Please login</h2>
</div>
<section class="content login">
    <form method="POST">
        <div class="form-field">
            {{! <label for="email">E-Mail</label> }}
            <input id="email" name="email" placeholder="e-mail" required />
        </div>
        <div class="form-field">
            {{! <label for="inputPassword">Password</label> }}
            <input
                id="inputPassword"
                name="inputPassword"
                type="password"
                placeholder="password"
                required
            />
        </div>
        {{#if error}}
            <p>{{error}}</p>
        {{/if}}
        <input type="hidden" name="_csrf" value="{{csrfToken}}" />
        <button type="submit" class="button-m">login</button>
    </form>
</section>