<script src="/script.js" defer></script>
<h1>More holidays for Berlin! ☃︎</h1>
<h2>Holidays are the </h2>
<form method="POST">
    <h3>Sign here</h3>
    <input id="signature" name="signature" type="hidden"></input>
    <canvas id="canvas" width="600px" height="150px"></canvas>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button type="submit">submit</button>
    {{#if error}}
    {{>submitError}}
    {{/if}}
</form>
