<h2>Please tell us a little bit about yourself.</h2>
<form method="POST">
    <div class="form-field">
        <label for="age">Age</label>
        <input id="age" name="age" type="number"></input>
    </div>
    <div class="form-field">
        <label for="city">City</label>
        <input id="city" name="city" ></input>
    </div>
    <div class="form-field">
        <label for="homepage">Homepage</label>
        <input id="homepage" name="homepage" type="url"></input>
    </div>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button type="submit">continue</button>
</form>

