<h1>Thanks for signing, {{signer.first_name}}!</h1>
<img src="{{signature}}" alt="" width="600px" height="150px" />
<form method="post" action="/signature/delete">
    <button>Delete my signature</button>
    <input type="hidden" name="_csrf" value="{{csrfToken}}" />
</form>
<h3>Along with you,
    <a href="/signers">{{count}} people</a>
    have already signed. Way to go!</h3>
{{>account}}