<h1>Thanks for signing, {{name}}!</h1>
<img src="{{src}}" alt="" width="400px" height="150px" />
<h2>You are amazing, as are these peeps:
    <a href="/petition/signers">List of signers</a></h2>
<p>{{count}} people have already signed! Way to go!</p>