<h1>Thanks for signing, {{signer}}!</h1>
<img src="{{signature}}" alt="" width="600px" height="150px" />
<h2>You are amazing, as are these peeps:
    <a href="/signers">List of signers</a></h2>
<p>{{count}} people have already signed! Way to go!</p>