* {
    box-sizing: border-box;
    font-family: "Syne";
    font-variant-numeric: lining-nums;
    margin: 0;
}

html {
    font-size: 16px;
    line-height: 1.3;
}

h1 {
    font-size: 22.5vw;
    line-height: 0.6;
    letter-spacing: -0.06em;
    margin-bottom: 40px;
    font-family: "Syne";
    text-align: right;
}

h2 {
    font-family: "Syne";
    font-size: 8rem;
    line-height: 0.9;
    letter-spacing: -0.03rem;
    text-align: center;
}

h1:nth-child(even) {
    text-align: left;
    transform: translateY(-13%);
}

h3 strong {
    font-family: "Azeret Mono";
    font-weight: normal;
    color: rgb(63, 29, 216);
}

.title {
    padding: 10px 20px;
    overflow: hidden;
    background: rgb(247, 202, 187);
    background: -moz-linear-gradient(
        0deg,
        rgba(247, 202, 187, 1) 0%,
        rgba(168, 175, 255, 1) 100%
    );
    background: -webkit-linear-gradient(
        0deg,
        rgba(247, 202, 187, 1) 0%,
        rgba(168, 175, 255, 1) 100%
    );
    background: linear-gradient(
        0deg,
        rgb(247 202 187) 0%,
        rgb(168 175 255) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e1d4b2",endColorstr="#ffb870",GradientType=1);
}

.headlines {
    width: calc(99vw - 15px);
    padding-top: 20px;
    transform: translateX(-15px);
}

.demand {
    font-size: 3rem;
    letter-spacing: -0.02rem;
    font-weight: 300;
    position: absolute;
    font-family: "Azeret Mono";
}

#logo p {
    font-size: 2rem;
    letter-spacing: -0.02rem;
    font-weight: 300;
    font-family: "Azeret Mono";
}

#logo {
    text-decoration: none;
}

.title.registration {
    display: flex;
    justify-content: center;
    height: 50vh;
    align-items: flex-end;
}

.title.login {
    display: flex;
    justify-content: center;
    height: 30vh;
    align-items: flex-end;
}

.title.registration h2,
.title.login h2 {
    width: 60vw;
}

svg.svg-animated {
    position: absolute;
    top: 0;
    /* height: 70vh;
    width: 98vw;
    transform: translateX(-19px); */
    animation-name: scale, fade;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    mix-blend-mode: lighten;
    pointer-events: none;
}

@keyframes scale {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

@keyframes fade {
    0% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

h3 {
    font-size: 5.5rem;
    letter-spacing: -2;
    line-height: 0.8;
}

h4 {
    font-size: 2rem;
    letter-spacing: 2;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

h5 {
    font-size: 1.8rem;
    letter-spacing: -0.4;
}

h6 {
    font-size: 1.6rem;
    color: rgba(0, 0, 0, 0.7);
}

p {
    font-size: 1.3rem;
}

body {
    /* margin: 10px 30px; */
    /* background-color: #ffa7ec;
    background-color: #e1d4b2; */
    background-color: rgb(247 202 187);
}

main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

form {
    margin: 40px 30px 80px 0px;
}

input {
    border: none;
    background-color: transparent;
    border-bottom: 2px solid black;
    font-family: "Azeret Mono";
    font-weight: 200;
    font-size: 1.5rem;
    padding: 8px 10px;
    width: 500px;
}

a {
    color: black;
    text-decoration: underline;
}

input:focus-visible {
    outline: none;
}

footer {
    background-color: rgb(247 202 187);
    background-color: inherit;
    padding: 20px;
}

.signature {
    border-radius: 15px;
    background-color: white;
}

button,
a.button,
a button {
    display: block;
    padding: 13px 25px 15px 25px;
    border-radius: 60px;
    border: 3px solid #ffa7ec;
    font-size: 1.2rem;
    /* background: #ffa7ec; */
    /* background: linear-gradient(
        0deg,
        rgba(255, 211, 131, 1) 0%,
        rgba(255, 167, 224, 1) 100%
    ); */
    color: black;
    text-decoration: none;
    transition: background ease-in-out 0.2s;
}

button.outline,
a.button.outline {
    background-color: transparent;
    border: 2px solid #ffa7ec;
}

.nav-offset {
    margin-top: 71px;
}

.nav-links {
    display: flex;
    gap: 30px;
}

hr {
    border: 1px solid black;
    margin-bottom: 10px;
}

#user-board {
    position: fixed;
    background-color: white;
    padding: 30px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 20px;
    box-shadow: 0 5px 30px 2px rgba(0, 0, 0, 0.3);
}

.intro {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 15px 60px;
    background-color: rgb(168 175 255);
    position: fixed;
}

.content {
    padding: 60px;
}

.introduction {
    max-width: 80%;
    grid-column: 1 / 3;
    margin-left: 15vw;
    margin-bottom: 70px;
}

.introduction h4 {
    font-family: "Azeret Mono";
    font-weight: 300;
}

a h6 {
    text-decoration: underline;
}

.intro a {
    text-decoration: none;
    height: fit-content;
}

.button-xl {
    width: 100%;
    font-size: 4rem;
    height: fit-content;
    width: fit-content;
    padding: 40px;
    border-radius: 100px;
    background-color: white;
    border: none;
    padding: 50px 120px;
    margin-bottom: 60px;
    transition: background-color 0.5s, box-shadow 0.5s;
}

.button-m {
    background-color: white;
    font-size: 1.8rem;
    border: none;
    margin: 40px 0;
    transition: background-color 0.5s, box-shadow 0.5s;
}

.button-xl:hover,
.button-m:hover {
    cursor: pointer;
    background-color: #ffa7ec;
    box-shadow: 0 0 10px 10px #ffa7ec;
}

.logout {
    display: flex;
    align-items: baseline;
    gap: 5px;
}

.logout img {
    height: 16px;
    transform: translateY(2px);
}

.profile .icon {
    color: black;
    transform: translateY(-5px);
    font-family: Typefesse-Plain;
    font-size: 4rem;
}

.form-field {
    margin: 20px 0;
}

.title .thanks {
    margin: 60px 60px 0 60px;
}

.thanks h3,
.reg-profile h3 {
    margin-bottom: 30px;
}
